@using Microsoft.Extensions.FileSystemGlobbing
@using TeamStatusData.Enums
@model IEnumerable<TeamStatusData.Models.User>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
    <div class="row row-cols-xl-5 row-cols-md-3 row-cols-sm-6 row-cols-xs-12">
        @foreach (var user in @Model)
        {
            <div class="col">
                <div class="card mb-4 d-flex flex-column">
                    <img src="profile-circle-svgrepo-com.svg" class="card-img-top" alt="@user.Name">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">@user.Name</h5>
                        <p class="card-text">@user.Status</p>
                    </div>
                    <form method="post" asp-action="UpdateUserStatus" asp-route-userId="@user.Id">
                        <input type="hidden" asp-for="@user.Id"/>
                        <div class="form-group">
                            <label asp-for="@user.Status"></label>
                            <select asp-for="@user.Status" asp-items="Html.GetEnumSelectList<UserStatus>()"
                                    class="form-control"></select>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Status</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>